body{
    background-image: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.menuTab{
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 0;
    background-color: #191919;
}

.menuList{
    cursor: pointer;
    color: whitesmoke;
}

img{
    width: 1280px;
    height: 720px;
}